#projects {
    position: relative;
}

.color-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content is spaced between top and bottom */
    border: 1px solid rgb(163, 163, 163);
    background-color: rgb(250, 250, 250);
    padding: 1rem;
    border-radius: 2rem;
    height: 100%;
    box-sizing: border-box;
}

.project-details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    height: 480px; /* Set a fixed height */
}

.project-img {
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.img-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1rem 0;
}

.project-title {
    margin: 0.5rem;
    font-size: 24px;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

.skill-details-container, .about-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}